@{
    ViewData["Title"] = "Home Page";
}

<section class="price-comparison">
    <div class="price-column">
        <div class="price-header">
            <div class="price">
                <div class="dollar-sign">$</div>
                10
                <div class="per-month">/mo</div>
            </div>
            <div class="plan-name">Basico</div>
        </div>
        <div class="divider"></div>
        <div class="Característico">
            <img src="check-circle.svg">
            Característico A
        </div>
        <div class="Característico">
            <img src="check-circle.svg">
            Característico B
        </div>
        <div class="Característico inactive">
            <img src="x-square.svg">
            Característico C
        </div>
        <div class="Característico inactive">
            <img src="x-square.svg">
            Característico D
        </div>
        <div class="Característico inactive">
            <img src="x-square.svg">
            Característico E
        </div>
        <div class="Característico inactive">
            <img src="x-square.svg">
            Característico F
        </div>
        <button class="cta">Começa hoje</button>
    </div>
    <div class="price-column popular">
        <div class="most-popular">MAIS POPULAR</div>
        <div class="price-header">
            <div class="price">
                <div class="dollar-sign">$</div>
                20
                <div class="per-month">/mo</div>
            </div>
            <div class="plan-name">Professional</div>
        </div>
        <div class="divider"></div>
        <div class="Característico">
            <img src="check-circle.svg">
            Característico A
        </div>
        <div class="Característico">
            <img src="check-circle.svg">
            Característico B
        </div>
        <div class="Característico">
            <img src="check-circle.svg">
            Característico C
        </div>
        <div class="Característico">
            <img src="check-circle.svg">
            Característico D
        </div>
        <div class="Característico inactive">
            <img src="x-square.svg">
            Característico E
        </div>
        <div class="Característico inactive">
            <img src="x-square.svg">
            Característico F
        </div>
        <button class="cta">Começa hoje</button>
    </div>
    <div class="price-column">
        <div class="price-header">
            <div class="price">
                <div class="dollar-sign">$</div>
                50
                <div class="per-month">/mo</div>
            </div>
            <div class="plan-name">Empreendimento</div>
        </div>
        <div class="divider"></div>
        <div class="Característico">
            <img src="check-circle.svg">
            Característico A
        </div>
        <div class="Característico">
            <img src="check-circle.svg">
            Característico B
        </div>
        <div class="Característico">
            <img src="check-circle.svg">
            Característico C
        </div>
        <div class="Característico">
            <img src="check-circle.svg">
            Característico D
        </div>
        <div class="Característico">
            <img src="check-circle.svg">
            Característico E
        </div>
        <div class="Característico">
            <img src="check-circle.svg">
            Característico F
        </div>
        <button class="cta">Começa hoje</button>
    </div>
</section>
